<div class="body">
    <div class="add-food-container">
      <h2>Add Food Details</h2>
      <form (ngSubmit)="onSubmit(foodForm)" #foodForm="ngForm">

        <div>
          <label for="foodName">Food Name:</label>
          <input type="text" id="foodName" required [(ngModel)]="foodModel.name" name="foodName" />
        </div>
        <div>
          <label for="description">Description:</label>
          <textarea id="description" required [(ngModel)]="foodModel.description" name="description"></textarea>
        </div>
        <div>
          <label for="price">Price:</label>
          <input type="number" id="price" required [(ngModel)]="foodModel.price" name="price" min="0" />
        </div>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" required [(ngModel)]="foodModel.quantity" name="quantity" />
          </div>
        <div>
          <label for="category">Category:</label>
          <select id="category" required [(ngModel)]="foodModel.category" name="category">
            <option value="" disabled selected>Select a category</option>
            <option value="appetizer">Appetizer</option>
            <option value="main">Main Course</option>
            <option value="dessert">Dessert</option>
            <option value="beverage">Beverage</option>
          </select>
        </div>
        <div>
          <label for="imageUrl">Image URL:</label>
          <input type="url" id="imageUrl" required [(ngModel)]="foodModel.imageUrl" name="imageUrl" />
        </div>
        <button type="submit" [disabled]="!foodForm.form.valid">Add Food</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
  